/** Colors */

$white: #fff;
$black: #000;
$titles: #333;
$gray: #9b9b9b;

/** Mike my bytes colors */
$mikemybytes_blue: #5d79b2;
$mikemybytes_purple: #ab559d;
$mikemybytes_dark: #323232;

/** Config  */

$mobile-space: 20px;
$mobile-bar-height: 50px;
$desktop-bar-height: 64px;
